---
import { Image } from "astro:assets";

import Base from "@layouts/BaseLayout.astro";
import Hexagon from "@components/Hexagon.astro";
import Footer from "@components/Footer.astro";

import Logo from "@assets/Logo_white_text.png";

const hexagonSizing = "w-30 sm:w-35 lg:w-40 xl:w-50 2xl:w-60";
---

<Base>
  <header
    class="md:min-h-fit flex md:flex-col justify-center items-center overflow-x-hidden md:-translate-y-1/6"
  >
    <div
      class="grid md:grid-flow-col md:translate-y-2/4 max-md:translate-x-2/4"
    >
      <span id="appear-zoom" data-delay="0.7">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-20"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.6">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-40"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.5">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-60"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.4">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-70"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.3">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-80"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.4">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-70"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.5">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-60"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.6">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-40"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.7">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-20"
          hoverEffect={false}
        />
      </span>
    </div>
    <div
      class="grid md:grid-flow-col md:translate-y-1/4 max-md:translate-x-1/4"
    >
      <span id="appear-zoom" data-delay="0.5">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-40"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.4">
        <Hexagon sizing={hexagonSizing} hoverRotate />
      </span>
      <span id="appear-zoom" data-delay="0.3">
        <Hexagon sizing={hexagonSizing} hoverRotate />
      </span>
      <span id="appear-zoom" data-delay="0.2">
        <Hexagon sizing={hexagonSizing} hoverRotate />
      </span>
      <span id="appear-zoom" data-delay="0.2">
        <Hexagon sizing={hexagonSizing} hoverRotate />
      </span>
      <span id="appear-zoom" data-delay="0.3">
        <Hexagon sizing={hexagonSizing} hoverRotate />
      </span>
      <span id="appear-zoom" data-delay="0.4">
        <Hexagon sizing={hexagonSizing} hoverRotate />
      </span>
      <span id="appear-zoom" data-delay="0.5">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-40"
          hoverEffect={false}
        />
      </span>
    </div>
    <nav class="flex flex-col md:flex-row md:items-center">
      <span id="appear-zoom" data-delay="0.5">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-40"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.4">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-80"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.3">
        <a href="/about">
          <Hexagon sizing={hexagonSizing}>
            <span class="font-arc text-xs md:text-lg lg:text-xl xl:text-2xl">
              About
            </span>
          </Hexagon>
        </a>
      </span>
      <span id="appear-zoom" data-delay="0.2">
        <a href="/contact">
          <Hexagon sizing={hexagonSizing}>
            <span class="font-arc text-xs md:text-lg lg:text-xl xl:text-2xl">
              Contact
            </span>
          </Hexagon>
        </a>
      </span>
      <Hexagon sizing={hexagonSizing}>
        {
          !!import.meta.env.PUBLIC_JOIN_LINK ? (
            <a href={import.meta.env.PUBLIC_JOIN_LINK}>
              <div
                class:list={[
                  "*:my-2 hover:[&>div]:opacity-100 hover:[&>img]:translate-y-0",
                ]}
              >
                <Image
                  src={Logo}
                  alt="The Als Rocketry Club"
                  class="transition-transform max-md:translate-y-2/3 md:translate-y-3/4 lg:translate-y-2/3 xl:translate-y-1/2"
                  loading="eager"
                />
                <div class="transition-opacity delay-[200ms_0ms] opacity-0">
                  <hr class="pb-2" />
                  <p class="font-arc text-center text-xs md:text-lg lg:text-xl xl:text-2xl">
                    JOIN US
                  </p>
                </div>
              </div>
            </a>
          ) : (
            <Image src={Logo} alt="The Als Rocketry Club" loading="eager" />
          )
        }
      </Hexagon>
      <span id="appear-zoom" data-delay="0.2">
        <a href="/team">
          <Hexagon sizing={hexagonSizing}>
            <span class="font-arc text-xs md:text-lg lg:text-xl xl:text-2xl">
              Team
            </span>
          </Hexagon>
        </a>
      </span>
      <span id="appear-zoom" data-delay="0.3">
        <a href="/sponsors">
          <Hexagon sizing={hexagonSizing}>
            <span class="font-arc text-xs md:text-lg lg:text-xl xl:text-2xl">
              Sponsors
            </span>
          </Hexagon>
        </a>
      </span>
      <span id="appear-zoom" data-delay="0.4">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-80"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.5">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-40"
          hoverEffect={false}
        />
      </span>
    </nav>
    <div
      class="grid md:grid-flow-col md:-translate-y-1/4 max-md:-translate-x-1/4"
    >
      <span id="appear-zoom" data-delay="0.5">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-40"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.4">
        <Hexagon sizing={hexagonSizing} hoverRotate />
      </span>
      <span id="appear-zoom" data-delay="0.3">
        <Hexagon sizing={hexagonSizing} hoverRotate />
      </span>
      <span id="appear-zoom" data-delay="0.2">
        <Hexagon sizing={hexagonSizing} hoverRotate />
      </span>
      <span id="appear-zoom" data-delay="0.2">
        <Hexagon sizing={hexagonSizing} hoverRotate />
      </span>
      <span id="appear-zoom" data-delay="0.3">
        <Hexagon sizing={hexagonSizing} hoverRotate />
      </span>
      <span id="appear-zoom" data-delay="0.4">
        <Hexagon sizing={hexagonSizing} hoverRotate />
      </span>
      <span id="appear-zoom" data-delay="0.5">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-40"
          hoverEffect={false}
        />
      </span>
    </div>
    <div
      class="grid md:grid-flow-col md:-translate-y-2/4 max-md:-translate-x-2/4"
    >
      <span id="appear-zoom" data-delay="0.7">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-20"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.6">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-40"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.5">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-60"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.4">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-70"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.3">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-80"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.4">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-70"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.5">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-60"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.6">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-40"
          hoverEffect={false}
        />
      </span>
      <span id="appear-zoom" data-delay="0.7">
        <Hexagon
          sizing={hexagonSizing}
          className="scale-20"
          hoverEffect={false}
        />
      </span>
    </div>
  </header>
  <main></main>
  <Footer />
</Base>

<script>
  import { animate, inView } from "motion";

  inView("span#appear-zoom", (element) => {
    const e = element as unknown as Record<"dataset", Record<"delay", string>>;

    animate(
      element,
      { scale: [0, 1] },
      {
        ease: [0.39, 0.24, 0.3, 1],
        delay: Number(e.dataset.delay ?? 0.1) + 0.1,
      },
    );
  });
</script>
